<h3>Котики!</h3>
<div class="gifs-col" *ngFor="let cats of catsCols">
  <div
    class="gif"
    *ngFor="let gif of cats"
  >
    <img lazyImg [image]="gif.images.original.url" />
  </div>
</div>
<button
  md-button
  (click)="getCats()"
>
  Обновить!
</button>
