@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body, html {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu', sans-serif;
}

div, input, textarea, button, nav {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.page {
  padding: 70px 25px 25px;
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

header {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  nav {
    margin-left: 15px;
  }
}

.gifs-col {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.gif {
  width: 100%;
  height: 140px;
  background: #eee;
  margin-bottom: 15px;

  img {
    width: 100%;
  }
}
