<header>
  <md-toolbar color="primary">
    <h1>Тест-драйв Angular Universal</h1>
    <nav>
      <a md-button routerLink="/">Рандомная гифка</a>
      <a md-button routerLink="/cats">Котики</a>
      <a md-button routerLink="/dab">Дэб</a>
      <a md-button routerLink="/swag">Swag</a>
    </nav>
  </md-toolbar>
</header>
<div class="page">
  <router-outlet>
  </router-outlet>
</div>
