<h3>SWAG</h3>
<div class="gifs-col" *ngFor="let swag of swagCols">
  <div
    class="gif"
    *ngFor="let gif of swag"
  >
    <img [image]="gif.images.original.url" lazyImg />
  </div>
</div>
<button
  md-button
  (click)="getSwag()"
>
  Обновить!
</button>
