<h3>Домашняя страница! Рандомная гифка!</h3>
<div class="random">
  <img src="{{gif}}" />
</div>
<div *ngIf="isClient">Эта надпись появляется только при клиентском рендере!</div>
<button md-button (click)="getRandomGif()">Обновить!</button>
