<h3>Дэб</h3>
<div class="gifs-col" *ngFor="let dab of dabCols">
  <div
    class="gif"
    *ngFor="let gif of dab"
  >
    <img [image]="gif.images.original.url" lazyImg />
  </div>
</div>
<button md-button (click)="getDab()">Обновить!</button>
